In [2]:
#Write a program to reverse a string.

a = "ready to code"
b = a[::-1]
print(b)

edoc ot ydaer

In [5]:
#Check if a string is a palindrome.

a = input()
if a == a[::-1]:
    print("it is a palindrome")
else:
    print("it is not a palindrome")

 madam

it is a palindrome

In [6]:
#3. Convert a string to uppercase.

a = "deepak"
b = a.upper()
print(b)

DEEPAK

In [7]:
#4. Convert a string to lowercase.
a = "deepak"
b = a.lower()
print(b)

deepak

In [9]:
#5. Count the number of vowels in a string.


input_string = input("Enter a string: ")


vowels = "aeiouAEIOU"


vowel_count = 0


for char in input_string:
    if char in vowels:
        vowel_count += 1


print(f"Number of vowels in the string: {vowel_count}")

Enter a string:  d

Number of vowels in the string: 0

In [11]:
# Count the number of consonants in a string.


input_string = input("Enter a string: ")


vowels = "aeiouAEIOU"


vowel_count = 0


for char in input_string:
    if char not in vowels:
        vowel_count += 1


print(f"Number of vowels in the string: {vowel_count}")

Enter a string:  deepak

Number of vowels in the string: 3

In [18]:
# Remove all whitespaces from a string.

a = "pwskills  "
b = a.replace(" ","")
print(b)

pwskills

In [31]:
#Find the length of a string without using the `len()` function.

def string_length(input_string):
    count = 0
    for i in input_string:
        count += 1
    return count

my_string = input()
length = string_length(my_string)
print(f"The length of the string is: {length}")

 ddd

The length of the string is: 3

In [33]:
#9. Check if a string contains a specific word.

a = "ready to go school"
b = "school"
if b in a:
    print("Found")
else:
    print("Not Fount")

Found

In [34]:
#10. Replace a word in a string with another word.

a = "fill the bottle"
b = a.replace("bottle","cup")
print(b)

fill the cup

In [35]:
#11. Count the occurrences of a word in a string.

a = "ready to go school"
b = a.count("o")
print(b)

4

In [40]:
# 12. Find the first occurrence of a word in a string

a = "ready to go school"

b = "go"

c = a.find(b)
if c != -1:
    print(f"the first occurrence of the world{b} is at {c}")
else :
    print("not found")

the first occurrence of the worldgo is at 9

In [41]:
#13. Find the last occurrence of a word in a string.


a = "ready to go school"

b = "go"

c = a.rfind(b)
if c != -1:
    print(f"the first occurrence of the world{b} is at {c}")
else :
    print("not found")

the first occurrence of the worldgo is at 9

In [45]:
#Split a string into a list of words.

a = "ready to go school"
b = a.split()
print(b)

['ready', 'to', 'go', 'school']

In [56]:
#15. Join a list of words into a string.
a ="ready to go school"

b = " ".join(a)
print(b)

r e a d y   t o   g o   s c h o o l

In [57]:
#16. Convert a string where words are separated by spaces to one where words
#are separated by underscores.

a ="ready to go school"
b = "_".join(a)
print(b)

r_e_a_d_y_ _t_o_ _g_o_ _s_c_h_o_o_l

In [58]:
#17. Check if a string starts with a specific word or phrase.

a = "ready to go school"
b = a.startswith("ready")
print(b)

True

In [60]:
#Check if a string ends with a specific word or phrase.

a = "ready to go school"
b = a.endswith("school")
print(b)

True

In [63]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

a = "hello world"
b = a.title()
print(b)

Hello World

In [65]:
#20. Find thelongest word in a string.
a = "ready to go school"
b = max(a.split(),key=len)
print(b)

school

In [66]:
#21. Find the shortest word in a string.
a = "ready to go school"
b = min(a.split(),key=len)
print(b)

to

In [69]:
#22. Reverse the order of words in a string.

a = "let's play games"
b = " ".join(a.split()[::-1])
print(b)

games play let's

In [80]:
#23. Check if a string is alphanumeric.

a = "Python123"
b = a.isalnum()
print(b)

True

In [83]:
#24. Extract all digits from a string.
a = "Python123"
b = ""
for i in a:
    if i.isdigit():
        b +=i
print(b)

123

In [84]:
#Extract all alphabets from a string.

a = "Python123"
b = ""
for i in a:
    if i.isalpha():
        b +=i
print(b)

Python

In [94]:
#26. Count the number of uppercase letters in a string.

a = "PytHLKon123"
b = 0
for i in a:
    if i.isupper():
        b = b+1
print(b)

4

In [95]:
#27. Count the number of lowercase letters in a string.
a = "PytHLKon123"
b = 0
for i in a:
    if i.islower():
        b = b+1
print(b)

4

In [96]:
#28. Swap the case of each character in a string.
a = "PytHLKon"
b = a.swapcase()
print(b)

pYThlkON

In [98]:
#29. Remove a specific word from a string.

a = "Python"
b = a.replace("P","")
print(b)

ython

In [114]:
#30. Check if a string is a valid email address.
from email.utils import parseaddr

def is_valid_email_strict(email):
    return '@' in parseaddr(email)[1]

print(is_valid_email_strict("test@example.com"))

True

In [115]:
# 31. Extract the username from an email address string.

a = "dddekd334@gmail.com"
b = a.split("@")[0]
print(b)

dddekd334

In [116]:
#32. Extract the domain name from an email address string.
a = "dddekd334@gmail.com"
b = a.split("@")[1]
print(b)

gmail.com

In [117]:
#33. Replace multiple spaces in a string with a single space.

a = " ready    to     outside"
b = " ".join(a.split())
print(b)

ready to outside

In [118]:
#34. Check if a string is a valid URL.

from urllib.parse import urlparse

url = "https://www.example.com"
parsed_url = urlparse(url)
if all([parsed_url.scheme, parsed_url.netloc]):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

In [122]:
#35. Extract the protocol (http or https) from a URL string.
url = "https://www.example.com/path/to/resource"

b = url.split(":")[0]
print(b)

https

In [123]:
#36. Find the frequency of each character in a string.

text = "hello world"
frequency = {}

for char in text:
    frequency[char] = frequency.get(char, 0) + 1

print(frequency)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [132]:
#37. Remove all punctuation from a string.

import string

def remove_punctuation(text):
    return ''.join(char for char in text if char not in string.punctuation)

# Test
text = "Hello, world! Let's remove: all punctuation."
print(remove_punctuation(text))

Hello world Lets remove all punctuation

In [136]:
#38. Check if a string contains only digits.

a = "Pyhton"
b = a.isdigit()
print(b)

False

In [137]:
#39. Check if a string contains only alphabets.

a = "Pyhton"
b = a.isalpha()
print(b)

True

In [140]:
#40. Convert a string to a list of characters.
s = "Python is best"
a = list(s)
print(a)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'b', 'e', 's', 't']

In [142]:
#41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

# Test
print(are_anagrams("listen", "silent")) 
print(are_anagrams("hello", "world"))

True
False

In [24]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher(text, shift):
    result = ""

    for char in text:
        if char.isalpha():
            # Determine the ASCII offset for case
            offset = 65 if char.isupper() else 97
            # Shift the character and wrap around the alphabet
            shifted_char = chr((ord(char) - offset + shift) % 26 + offset)
            result += shifted_char
        else:
            result += char  # Leave non-letter characters unchanged

    return result

message = "Attack at Dawn!"
encoded = caesar_cipher(message, 3)
print(encoded)

Dwwdfn dw Gdzq!

In [26]:
#43. Decode a Caesar cipher encoded string.
def caesar_cipher(text, shift):
    result = ""

    for char in text:
        if char.isalpha():
            # Determine the ASCII offset for case
            offset = 65 if char.isupper() else 97
            # Shift the character and wrap around the alphabet
            shifted_char = chr((ord(char) - offset - shift) % 26 + offset)
            result += shifted_char
        else:
            result += char  # Leave non-letter characters unchanged

    return result

message = "Dwwdfn dw Gdzq!"
encoded = caesar_cipher(message, 3)
print(encoded)

Attack at Dawn!

In [28]:
#44. Find the most frequent word in a string.
from collections import Counter

def most_frequent_word(text):
    # Convert to lowercase and split into words
    words = text.lower().split()
    # Count how often each word appears
    word_counts = Counter(words)
    # Get the most common word and its count
    most_common = word_counts.most_common(1)
    return most_common[0] if most_common else (None, 0)

# Test
text = "ready go ready to ready ready and go"
print(most_frequent_word(text))  # Output: ('apple', 3)

('ready', 4)

In [31]:
#45. Find all unique words in a string.
a = "ready ready to to to to go to school"
b = set(a.lower().split())
print(b)

{'go', 'ready', 'to', 'school'}

In [52]:
#48. Remove the nth word from a string.

def remove_nth_word(text, n):
    words = text.split()
    if 1 <= n <= len(words):
        del words[n-1]  # n-1 because list indices start at 0
    return ' '.join(words)


text = "ready to go school hurry and come back soon it's very important"
print(remove_nth_word(text, 3))

ready to school hurry and come back soon it's very important

In [55]:
#49. Insert a word at the nth position in a string.

def insert_word(text, word, n):
    words = text.split()
    # Adjust n to be within bounds
    if n < 1:
        n = 1
    elif n > len(words) + 1:
        n = len(words) + 1
    
    words.insert(n - 1, word)  # n-1 because list indices start at 0
    return ' '.join(words)

# Test
text = "The quick brown fox"
new_text = insert_word(text, "smart", 3)
print(new_text)

The quick smart brown fox

In [ ]:
# List Based Practice Problem :

In [59]:
#1. Create a list with integers from 1 to 10.

a = [i for i in range (1,11)]
print(a)

b = list(range(1,11))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
#2. Find the length of a list without using the `len()` function.

a = [5,33,323,5,3,5,3,5,5,555,34242]
b = 0
for i in a:
    b = b+1
print(b)

11

In [85]:
# 3. Append an element to the end of a list.

a = [5,33,323,5,3,5,3,5,5,555,34242]
b = a.append(45)
print(a)

[5, 33, 323, 5, 3, 5, 3, 5, 5, 555, 34242, 45]

In [90]:
#4. Insert an element at a specific index in a list.
a = [5,33,323,5,3,5,3,5,5,555,34242]
a.insert(1,34)
print(a)

[5, 34, 33, 323, 5, 3, 5, 3, 5, 5, 555, 34242]

In [91]:
#5. Remove an element from a list by its value.

a = [5,33,323,5,3,5,3,5,5,555,34242]
a.remove(33)
print(a)

[5, 323, 5, 3, 5, 3, 5, 5, 555, 34242]

In [92]:
#6. Remove an element from a list by its index.

a = [5,33,323,5,3,5,3,5,5,555,34242]
del a[2]
print(a)

[5, 33, 5, 3, 5, 3, 5, 5, 555, 34242]

In [96]:
#7. Check if an element exists in a list
my_list = [10, 20, 30, 40]

if 10 in my_list:
    print("Yes it's is exists")
else:
    print("no")

Yes it's is exists

In [97]:
#8. Find the index of the first occurrence of an element in a list.

a = [1,2,3,3,4,4,5,55,5]
b = a.index(3)
print(b)

2

In [101]:
#9. Count the occurrences of an element in a list.
a = [1,2,3,3,4,4,5,55,5]
b = a.count(3)
print(b)

2

In [105]:
#10. Reverse the order of elements in a list.

a = [1,2,3,3,4,4,5,55,5]
a[::-1]
a.reverse()
print(a)

[5, 55, 5, 4, 4, 3, 3, 2, 1]

In [108]:
#11. Sort a list in ascending order.

a = [1,2,3,3,4,4,5,55,5]
a.sort()
print(a)

[1, 2, 3, 3, 4, 4, 5, 5, 55]

In [117]:
#12. Sort a list in descending order.
a = [1,2,3,3,4,4,5,55,5]
a.sort(reverse=True)
print(a)
sorted(a,reverse=True)

[55, 5, 5, 4, 4, 3, 3, 2, 1]

[55, 5, 5, 4, 4, 3, 3, 2, 1]

In [121]:
#13. Create a list of even numbers from 1 to 20.
a = []
for i in range(1,21):
    if i %2 == 0:
        a.append(i)
print(a)

b = list(range(2,21,2))
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [125]:
#14. Create a list of odd numbers from 1 to 20.
b = list(range(1,21,2))
print(b)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [132]:
#15. Find the sum of all elements in a list.

a = [1,2,3]
b = 0
for i in a:
    b =b+i
print(b)


c = sum(a)
print(c)

6
6

In [137]:
#16. Find the maximum value in a list.

a = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
b = max(a)
print(b)



maxvalue = a[0]
for i in a:
    if i > maxvalue:
        maxvalue = i
print(maxvalue)

19
19

In [140]:
#17. Find the minimum value in a list.

a = [7, 9, 11, 13, 15, 17, 19]

b = min(a)
print(b)

7

In [143]:
#18. Create a list of squares of numbers from 1 to 10.
a = []
for i in range(1,11):
    a.append(i**2)

print(a)

b = print([i**2 for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [164]:
#19. Create a list of random numbers.
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)

[19, 38, 85, 78, 52]

In [169]:
#20. Remove duplicates from a list.
a = [1, 4, 9, 16, 25, 36, 49, 64, 81,4,4,8,9,9,9,9,9,9,35,25, 100]
b = list(set(a))
print(b )


my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
seen = set()

for item in my_list:
    if item not in seen:
        unique_list.append(item)
        seen.add(item)

print(unique_list)

[64, 1, 35, 4, 36, 100, 8, 9, 16, 49, 81, 25]
[1, 2, 3, 4, 5]

In [170]:
#21. Find the common elements between two lists.

a = [1, 2, 2, 3, 4, 4, 5]
b = [ 4,45,6,7,8]
c = list(set(a) & set(b))
print(c)

[4]

In [173]:
#22. Find the difference between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Elements in list1 but not in list2
diff1 = list(set(list1) - set(list2))

# Elements in list2 but not in list1
diff2 = list(set(list2) - set(list1))

print("Elements in list1 but not in list2:", diff1)
print("Elements in list2 but not in list1:", diff2)

Elements in list1 but not in list2: [1, 2, 3]
Elements in list2 but not in list1: [8, 6, 7]

In [176]:
#23. Merge two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

c = print(list1 + list2)

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [177]:
#24. Multiply all elements in a list by 2.

list1 = [1, 2, 3, 4, 5]
c = print([i*2 for i in list1])

[2, 4, 6, 8, 10]

In [178]:
#25. Filter out all even numbers from a list.
list2 = [4, 5, 6, 7, 8]

for i in list2:
    if i%2 == 0:
        list2.remove(i)
print(list2)

[5, 7]

In [186]:
# 26. Convert a list of strings to a list of integers.
str_list = ['1', '2', '3', '4', '5']
int_list =print( [int(s) for s in str_list])

int_list = list(map(int, str_list))
print("Converted list:", int_list)

[1, 2, 3, 4, 5]
Converted list: [1, 2, 3, 4, 5]

In [187]:
#27. Convert a list of integers to a list of strings.
str_list = ['1', '2', '3', '4', '5']
int_list =print( [str(s) for s in str_list])

['1', '2', '3', '4', '5']

In [189]:
#28. Flatten a nested list.
nested_list = [[1, 2], [3, 4], [5]]
flat_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flat_list)


def flatten(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

nested_list = [1, [2, [3, 4], 5], 6]
print("Deep Flattened:", flatten(nested_list))

Flattened list: [1, 2, 3, 4, 5]
Deep Flattened: [1, 2, 3, 4, 5, 6]

In [190]:
#29. Create a list of the first 10 Fibonacci numbers.

fibonacci = [0, 1]

while len(fibonacci) < 10:
    fibonacci.append(fibonacci[-1] + fibonacci[-2])

print("First 10 Fibonacci numbers:", fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [191]:
#30. Check if a list is sorted.
numbers = [1, 2, 3, 4, 5]

# Check if the list is sorted
if numbers == sorted(numbers):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

In [ ]:
#Tuple Based Practice Problem :

In [194]:
#1. Create a tuple with integers from 1 to 5.
a = tuple(range(1,6))
print(a)

(1, 2, 3, 4, 5)

In [198]:
#2. Access the third element of a tuple.

a = (1, 2, 3, 4, 5)
b = print(a[2])

3

In [202]:
#3. Find the length of a tuple without using the `len()` function.
a = (1, 2, 3, 4, 5)
b = 0
for i in a:
    b = b+1

print(b)

5

In [203]:
#4. Count the occurrences of an element in a tuple.

my_tuple = (1, 2, 3, 2, 4, 2, 5)

# Element to count
element = 2

# Count occurrences
count = my_tuple.count(element)

# Print result
print(f"The element {element} occurs {count} times in the tuple.")

The element 2 occurs 3 times in the tuple.

In [204]:
#5. Find the index of the first occurrence of an element in a tuple.

my_tuple = (10, 20, 30, 20, 40)

# Element to find
element = 20

# Get the index of the first occurrence
index = my_tuple.index(element)

# Print the result
print(f"The first occurrence of {element} is at index {index}.")

The first occurrence of 20 is at index 1.

In [206]:
#6. Check if an element exists in a tuple.
my_tuple = (10, 20, 30, 20, 40)

if 1 in my_tuple:
    print("yes")
else:
    print("no")

no

In [209]:
#7. Convert a tuple to a list.

a = (1,2,3,4,4)
print(list(a))

[1, 2, 3, 4, 4]

In [210]:
#8. Convert a list to a tuple.

a = [1,2,3,4,4]
print(tuple(a))

(1, 2, 3, 4, 4)

In [211]:
#9. Unpack the elements of a tuple into variables.

my_tuple = (1, 2, 3)

# Unpack the tuple into variables
a, b, c = my_tuple

# Print the variables
print("a =", a)
print("b =", b)
print("c =", c)

a = 1
b = 2
c = 3

In [212]:
#10. Create a tuple of even numbers from 1 to 10.

even_numbers = tuple(range(2, 11, 2))

# Print the tuple
print("Tuple of even numbers from 1 to 10:", even_numbers)

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

In [213]:
#11. Create a tuple of odd numbers from 1 to 10.
odd_numbers = tuple(range(1, 11, 2))

# Print the tuple
print("Tuple of odd numbers from 1 to 10:", odd_numbers)

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

In [214]:
#12. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the tuples
combined_tuple = tuple1 + tuple2

# Print the result
print("Concatenated tuple:", combined_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [215]:
# 13. Repeat a tuple three times.
my_tuple = (1, 2, 3)

# Repeat the tuple 3 times
repeated_tuple = my_tuple * 3

# Print the result
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [217]:
#14. Check if a tuple is empty.
my_tuple = (1)

# Check if the tuple is empty
if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is not empty.

In [218]:
#15. Create a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2), (3, 4), (5, 6))

In [219]:
#Set Based Practice Problem :
#1. Create a set with integers from 1 to 5.
my_set = set(range(1, 6))
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [221]:
#2. Add an element to a set.

s = [1,2,3,4,5]
s.append(23)
print(s)

[1, 2, 3, 4, 5, 23]

In [222]:
#3. Remove an element from a set.
s = [1,2,3,4,5]
s.remove(2)
print(s)

[1, 3, 4, 5]

In [223]:
#4. Check if an element exists in a set.
my_set = {1, 2, 3, 4, 5}

# Element to check
element = 3

# Check if element exists in the set
if element in my_set:
    print(f"{element} exists in the set.")
else:
    print(f"{element} does not exist in the set.")

3 exists in the set.

In [224]:
#5. Find the length of a set without using the `len()` function.
my_set = {1, 2, 3, 4, 5}

# Initialize counter
count = 0

# Iterate through the set and increment count
for _ in my_set:
    count += 1

# Print the count
print("Length of the set:", count)

Length of the set: 5

In [225]:
#6. Clear all elements from a set.
my_set = {1, 2, 3, 4, 5}

# Clear the set
my_set.clear()

# Print the set after clearing
print("Set after clearing:", my_set)

Set after clearing: set()

In [226]:
#7. Create a set of even numbers from 1 to 10.
even_numbers = {num for num in range(1, 11) if num % 2 == 0}

# Print the set
print("Set of even numbers from 1 to 10:", even_numbers)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [227]:
#8. Create a set of odd numbers from 1 to 10.

odd_numbers = {num for num in range(1, 11) if num % 2 != 0}

# Print the set
print("Set of odd numbers from 1 to 10:", odd_numbers)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

In [228]:
#9. Find the union of two sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [229]:
#10. Find the intersection of two sets.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {3, 4}

In [230]:
#11. Find the difference between two sets.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the difference (elements in set1 but not in set2)
difference_set = set1.difference(set2)

# Print the result
print("Difference of the sets:", difference_set)

Difference of the sets: {1, 2}

In [231]:
#12. Check if a set is a subset of another set.
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# Check if set1 is a subset of set2
if set1.issubset(set2):
    print("set1 is a subset of set2.")
else:
    print("set1 is not a subset of set2.")

set1 is a subset of set2.

In [232]:
#13. Check if a set is a superset of another set.
set1 = {1, 2, 3, 4}
set2 = {2, 3}

# Check if set1 is a superset of set2
if set1.issuperset(set2):
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

In [ ]:
14. Create a set from a list.